---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import PageHero from "@/components/PageHero.astro";
import ContactSection from "@/components/Contact.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Contacto | GVolts">
  <!-- <Loader /> -->
  <Header />
  <PageHero
      title="Contáctanos"
      description="Estamos listos para ayudarte con tu próximo proyecto de seguridad o electricidad."
      badge="Contacto"
      backgroundImage="/img/gvolts/contact.jpg"
      icon="chat"
    />
  <main class="pt-10">
    <ContactSection />
  </main>
  <Footer />
</Layout>
